.CLFFooter {
  text-align: center;
  color: rgb(133, 133, 133);
  margin-bottom: 100px;
  font-weight: 500;
}

.CLFHeader {
  color: rgb(133, 133, 133);
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
}