* {
  font-family: -apple-system, system-ui, "Inter", "segoe ui", Helvetica, Arial,
    sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  min-width: 300px;
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
