html {
  font-family: -apple-system, system-ui, "Inter", "segoe ui", Helvetica, Arial,
    sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  color: black;
  min-width: 250px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

label {
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  text-decoration: none;
}
